.red{
    color: red;
}
.black_background{
    width: 300px;
    background-color: black;
    color: white;
}
.green{
    color: green;
}
.darkred{
    width: 300px;
    background-color: rgb(100, 0, 0);
    color: green;
}